
.logo{
  height: 60px;
  width: 60px;
}

.hero-img{

  height: 89vh;
  width: 99vw;
  outline: 3px solid white;
  outline-offset: -25px;

}
.carousel-caption{
  bottom: 13em;
}
.carousel-caption h1{
  font-family: 'zen-antique-soft', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
}
.carousel-caption h3{
  font-family: 'Arizonia', sans-serif;
font-style: normal;
font-weight: 400;
  font-size: 60px;
  margin-top: -10px;

}

.pic{
  width:100%;
  max-width:100%;
  height:42vw;
  outline: 3px solid white;
  outline-offset: -25px;
}
.logo2{
  height: 80px;
  width: 80px;
  padding-left: 3px;
  border-style: dotted;
  border-radius: 50%;
  margin-top: 3em;
}
.ig{
  height: 20px;
  width: 25px;
  padding-right: 5px;
}
.w3-container h3{
  font-weight: bold;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
.w3-display-middle p{
  color: black;
  font-weight: bold;
  text-align: center;
  background-color: white;

}
